/* ナビの最大幅を解除 */
.masthead__inner-wrap {
  max-width: 100%;
}

/* visible-links を flex に */
#site-nav .visible-links {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Ryo Satoh を左固定 */
#site-nav .masthead__menu-item--lg {
  margin-right: auto;
}

/* それ以外を右寄せ */
#site-nav .masthead__menu-item:not(.masthead__menu-item--lg) {
  margin-left: 0;
}
