/* ナビの最大幅を解除 */
.masthead__inner-wrap {
  max-width: 100%;
}

/* visible-links を通常の幅に戻す */
.greedy-nav .visible-links {
  width: auto;
}

/* Ryo Satoh を左固定 */
.greedy-nav .masthead__menu-item--lg {
  margin-right: auto;
}
