/* ナビ全体を画面いっぱいに */
.masthead__inner-wrap {
  max-width: 100%;
}

/* メニュー全体を flex に */
.greedy-nav .visible-links {
  display: flex;
  width: 100%;
}

/* Ryo Satoh だけ左固定 */
.greedy-nav .masthead__menu-item--lg {
  margin-right: auto;
}

/* それ以外の項目を右寄せ */
.greedy-nav .masthead__menu-item:not(.masthead__menu-item--lg) {
  margin-left: 0;
}
